div(ng-class="playerCard.styles.player" ng-style="playerCard.cardStyle")
    img(ng-src="{{playerCard.player | gravatarUrl:{size:playerCard.size} }}" class="player-icon" width="{{playerCard.size}}" height="{{playerCard.size}}" draggable="false")
    div(
    ng-class="playerCard.styles.header"
    ng-style="playerCard.headerStyle"
    ng-click="playerCard.clickPlayerName($event)"
    )
        text(ng-hide="playerCard.player._id") NEW:
        text(
        data-fittext=1
        data-fittext-min="{{playerCard.minFontHeight}}"
        data-fittext-max="{{playerCard.maxFontHeight}}"
        data-fittext-load-delay="100"
        ng-model="playerCard.player.name"
        ) {{playerCard.player.name || 'Unknown'}}