span(class="tribe"
ng-show="tribecard.tribe"
enter-press="tribecard.clickOnTribeCard()"
ng-click="tribecard.clickOnTribeCard()"
ng-enter="tribecard.clickOnTribeCard()"
tabindex="0")
    div(class="tribe-name" ng-click="tribecard.clickOnTribeName($event)")
        text(
        data-fittext=1 data-fittext-max="56px" data-fittext-min="17" data-fittext-load-delay="100"
        ng-model="tribecard.tribe.name"
        ) {{tribecard.tribe.name}}
    img(ng-src="{{tribecard.tribe | tribeImageUrl: {size: tribecard.size} }}" width="{{tribecard.size}}" height="{{tribecard.size}}")