span(class="tribe"
ng-show="tribecard.tribe"
enter-press="tribecard.clickOnTribeCard()"
ng-click="tribecard.clickOnTribeCard()"
ng-enter="tribecard.clickOnTribeCard()"
tabindex="0"
ng-style="tribecard.cardStyle"
)
    div(class="tribe-name" ng-click="tribecard.clickOnTribeName($event)" ng-style="tribecard.headerStyle")
        text(
        data-fittext=1
        data-fittext-min="{{playerCard.minFontHeight}}"
        data-fittext-max="{{playerCard.maxFontHeight}}"
        data-fittext-load-delay="100"
        ng-model="tribecard.tribe.name"
        ) {{tribecard.tribe.name || 'Unknown'}}
    img(ng-src="{{tribecard.tribe | tribeImageUrl: {size: tribecard.size} }}" width="{{tribecard.size}}" height="{{tribecard.size}}")