span(class="tribe-card" ng-class="tribecard.styles.className"
ng-show="tribecard.tribe"
enter-press="tribecard.clickOnTribeCard()"
ng-click="tribecard.clickOnTribeCard()"
ng-enter="tribecard.clickOnTribeCard()"
tabindex="0"
ng-style="tribecard.cardStyle"
)
    div(ng-style="tribecard.headerStyle" class="tribe-card-header")
        div(ng-class="tribecard.styles.header" ng-click="tribecard.clickOnTribeName($event)")
            text(
            data-fittext=1
            data-fittext-min="{{tribecard.minFontHeight}}"
            data-fittext-max="{{tribecard.maxFontHeight}}"
            data-fittext-load-delay="100"
            ng-model="tribecard.tribe.name"
            ) {{tribecard.tribe.name || 'Unknown'}}
    img(ng-src="{{tribecard.tribe | tribeImageUrl: {size: tribecard.size} }}" width="{{tribecard.size}}" height="{{tribecard.size}}")